.extra-info {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 0px black;  
  color: white;
}
.extra-info-wind, .extra-info-common {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45%;
}
.wind {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  background: rgba(255, 255, 255, 0.13);
  border-radius: 5px;
  box-shadow: 1px 1px 2px black;
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
}
.common {
  width: 30%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.13);
  border-radius: 5px;
  box-shadow: 1px 1px 2px black;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
}
.value {
  font-size: 1.3rem;
}
/* MEDIA QUERY FOR VERY SMALL DISPLAY DEVICES*/
@media (max-width: 400px) {
  @media (max-height: 700px){
    .extra-info {
      height: 100px;
    }
    .wind, .common {
      font-size: 1rem;
    }
    .value {
      font-size: 1rem;
    }
  }
}
/* MEDIA QUERY FOR DESKTOP */
@media (min-width: 800px) {
  .extra-info-wind, .extra-info-common {
    width: 50%;
  }
}